.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #909090;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #47da0d;
}

#emoji-search
{
  color:white;
  text-align:center;
  background:transparent;
  border:none;
  border-bottom: 1px white;
}
#emoji-search:focus
{
  background: rgba(255,255,255,.3);
  border-radius: 2em;
}